* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
    color: black;
}

.Header-menu {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 40px;
}

.Header-menu_Link {
    text-decoration: none;
    color: black;
}

.isActive {
    text-decoration: underline 2px solid gray;
}

.Section {
    margin: 40px;
}

.Section-next {
    font-size: 1.2rem;
}

.Gallery {
    padding: 40px;
    width: 100%;
    max-width: 100%;
}

.Gallery-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    margin: 0 auto;
}

.Gallery-image {
    width: 100%;
    height: 200px;
    height: auto;
    object-fit: cover;
}

.Gallery-buttonSection {
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 0px;
}

.Gallery-button {
    padding: 10px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    border: none;
}

.Footer {
    color: black;
    padding: 40px;

}

.Footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Footer-copy {
    font-size: 0.9rem;
    color: black;
}

.Footer-socialLinks {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.Footer-socialLink {
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}
